body{
    margin: 0%;
    padding: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#kl{
    background-color: #869b69;
    text-align: center;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}
#p{
    background-color: #228b27;
    color: aliceblue;
    border: none;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 15px;
}
#id{
    background-color: #bee18d;
    color: #228b27;
    padding: 20px 10px 20px 40px;
    margin: 100px;
    margin-bottom: 25px;
}

#d{
    background-color: #bee18d;
    color: #228b27;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px 10px 20px 40px;
    margin-bottom: 25px;;
}
#td{
    background-color: #bee18d;
    color: #228b27;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px 10px 20px 40px;
    margin-bottom: 150px;
}
#pl{
    font-size: 50px;
}
#sh{
    text-decoration: none;
    color: white;
}
#f{
    background-color: #bee18d;
    color: #228b27;
    margin: 0%;
    font-size: 20px;
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#po{
    color: white;
    font-size: 20px;
    padding: 15px;
  }
#lang{
    width: 200px;
    height: 75px;
    margin: 20px;
    margin-left: 85px;
}
#hh{
    width: 60%;
}
#cr{
    background-color: #bee18d;
  }
  #lop{
    border: none;
    background-color: #bee18d;
    color: white;
    font-size: 20px;
}
#lop:hover{
    color: green;
}